@(formBook : Form[Book])

@import helper._
@import helper.twitterBootstrap._
@import models.Messages;

@templates.main {
    @helper.form(action = routes.Putback.submit()) {
        <fieldset>
            <legend>@Messages.tr("bookInfo")</legend>

            @inputText(
                formBook("barCode"),
                '_label -> Messages.tr("bookID"),
                '_help -> Messages.tr("enterBookId"),
                '_error -> formBook.globalError
            )

            @templates.homeButton()
            @templates.nextButton()
        </fieldset>
    }
}
