@(themes : List[Theme])(formBook : Form[Book])

@import helper._
@import helper.twitterBootstrap._
@import models.Messages;

@templates.main {
    @helper.form(action = routes.Administration.submitAddBook()) {
        <fieldset>
            <legend>Account informations</legend>

            @inputText(
                formBook("author"),
                '_label -> Messages.tr("input.author"),
                '_help -> Messages.tr("input.author.prompt"),
                '_error -> formBook.globalError
            )
            @inputText(
                formBook("bookName"),
                '_label -> Messages.tr("input.bookName"),
                '_help -> Messages.tr("input.bookName.prompt"),
                '_error -> formBook.globalError
            )
            @inputText(
                formBook("description"),
                '_label -> Messages.tr("input.description"),
                '_help -> Messages.tr("input.description.prompt"),
                '_error -> formBook.globalError
            )
            @inputText(
                formBook("barCode"),
                '_label -> Messages.tr("input.barCode"),
                '_help -> Messages.tr("input.barCode.prompt"),
                '_error -> formBook.globalError
            )
            @select(
                formBook("bookType"),
                themes.map(theme => theme.themeName -> Messages.tr(theme.themeName))
            )
            @templates.homeButton()
            @templates.nextButton()
        </fieldset>
    }
}
