@(person : Person)(formBook : Form[Book])

@import helper._
@import helper.twitterBootstrap._
@import models.Messages;

@templates.main {
    @helper.form(action = routes.Take.step3(person.id.get)) {
        <fieldset>
            <legend>@Messages.tr("bookInfo")</legend>

            @inputText(
                formBook("barCode"),
                '_label -> Messages.tr("bookID"),
                '_help -> Messages.tr("enterBookId"),
                '_error -> formBook.globalError
            )
            <input type="hidden" name="personId" value="@person.id.get" >

            @templates.hrefButton(routes.Take.take())(Messages.tr("prev"))
            @templates.nextButton()
        </fieldset>
    }
}
