@(personCompletion : String)(formPerson : Form[Person])

@import helper._
@import helper.twitterBootstrap._
@import models.Messages;

@templates.main {
    @helper.form(action = routes.Take.step1()) {
        <fieldset>
            <legend>@Messages.tr("legends.personInfo")</legend>

            @{templates.autocomplete("#personFIO")(Html(personCompletion))}
            @inputText(
                formPerson("personFIO"),
                '_label -> Messages.tr("personFIO"),
                '_help -> Messages.tr("enterPersonFIO"),
                '_error -> formPerson.globalError
            )
            @templates.homeButton()
            @templates.nextButton()
        </fieldset>
    }
}