@(formPerson : Form[Person])

@import helper._
@import helper.twitterBootstrap._
@import models.Messages;

@templates.main("Welcome to Play 2.1") {
    @helper.form(action = routes.Take.step1()) {
        <fieldset>
            <legend>Account informations</legend>

            <script>
            $(function() {
                var availableTags = [
                    "ActionScript",
                    "AppleScript"
                ];
                $( "#personFIO" ).autocomplete({
                    source: availableTags
                });
            });
            </script>
            @inputText(
                formPerson("personFIO"),
                '_label -> Messages.tr("personFIO"),
                '_help -> Messages.tr("enterPersonFIO"),
                '_error -> formPerson.globalError
            )
            @templates.homeButton()
            <input type="submit" class="btn primary" value="@Messages.tr("next")">
        </fieldset>
    }
}