@()
@import models.Messages;

@templates.main("Welcome to Play 2.1") {
    @Messages.tr("selectAction")

    @{templates.formButton(routes.Take.take())                   (Messages.tr("actions.take"))           }
    @{templates.formButton(routes.Putback.index())               (Messages.tr("actions.putback"))        }
    @{templates.formButton(routes.Library.index())               (Messages.tr("actions.library"))        }
    @{templates.formButton(routes.Administration.index())        (Messages.tr("actions.administration")) }
}
